/* ///////////////////////////// */
/* Below 550px width */
/* ///////////////////////////// */

@media (max-width: 35em) {
  .search-container {
    width: 35rem;
  }
}

/* ///////////////////////////// */
/* Below 370px width */
/* ///////////////////////////// */

@media (max-width: 23.25em) {
  html {
    font-size: 50%;
  }
}

/* ///////////////////////////// */
/* Below 700px height */
/* ///////////////////////////// */

@media (max-height: 44em) {
  body {
    height: 700px;
  }
}
