* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui;
  font-size: 1.8rem;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.8rem;
  width: 50rem;
  height: 4.8rem;
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.search-bar {
  margin: 0 1.2rem;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  color: inherit;
}

.search-bar::placeholder {
  color: #aaa;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1.2rem;
  color: #aaa;
}

.search-icon:hover {
  cursor: pointer;
}

.country {
  margin-top: 6.4rem;
  width: 30rem;
  height: fit-content;
  box-shadow: 0rem 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}

.img {
  width: inherit;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.data {
  padding: 2.4rem 3.8rem;
}

.name {
  font-size: 2.6rem;
  text-transform: uppercase;
}

.region {
  font-size: 1.8rem;
  color: #888;
  text-transform: uppercase;
}

.capital,
.inhabitants,
.language,
.currency {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 1.2rem;
}

.capital {
  margin-top: 2.4rem;
}

.country span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  font-size: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
}

.copyright {
  position: absolute;
  bottom: 0.4rem;
  left: 50vw;
  font-size: 1.2rem;
  transform: translate(-50%, 0);
  white-space: nowrap;
}
